
{% extends "todo/base.html" %}
{% block content %}
<style>
#id_title{
  display: block;
      width: 50%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;


}
#id_memo{

  display: block;
      width: 50%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#id_important{

    display: block;
        width: 50%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;




}
.btn btn-success{

  width:50%
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 25px;
}



</style>



<div class="container" align='center'>
<h1>Create Your Todo</h1>
<h2>{{ error }}</h2>
<div class="form-group" style='transform:translateY(0px);'>
<form method='POST'>
   {% csrf_token %}

{{ form.as_p }}
<button type='submit' class='btn btn-success' style='width: 50%;'>Create</button>
</form>
</div>
{% endblock %}
